In [16]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
# 패키지 임폴트 및 라벨인코더 임폴트

In [17]:
trafic_data = pd.read_csv("Train_Death_Info.csv",encoding = 'CP949')
#한글 내용이 포함되어있는 csv 파일 읽기

In [18]:
trafic_data.head()
# 첫번째부터 5열 추출

,발생년,발생년월일시,발생분,주야,요일,사망자수,사상자수,중상자수,경상자수,부상신고자수,...,도로형태_대분류,도로형태,당사자종별_1당_대분류,당사자종별_1당,당사자종별_2당_대분류,당사자종별_2당,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2017,2017063023,14,야간,금,1,1,0,0,0,...,단일로,기타단일로,승용차,승용차,보행자,보행자,967633,1937456,127.134130,37.435704
1,2017,2017063021,45,야간,금,1,4,2,1,0,...,단일로,기타단일로,승용차,승용차,승용차,승용차,966456,1696405,127.131220,35.262534
2,2017,2017063021,50,야간,금,1,1,0,0,0,...,단일로,기타단일로,승용차,승용차,보행자,보행자,900057,1865697,126.379922,36.784142
3,2017,2017063019,10,야간,금,1,1,0,0,0,...,교차로,교차로부근,승용차,승용차,이륜차,이륜차,1095230,1764891,128.554945,35.875973
4,2017,2017063017,2,주간,금,1,2,1,0,0,...,단일로,교량위,이륜차,이륜차,화물차,화물차,947576,1946355,126.906786,37.514993

In [19]:
trafic_data.당사자종별_2당[trafic_data.당사자종별_2당=='0']='없음'
#'0' 값을 '없음'으로 대체

C:\Users\user\AppData\Local\conda\conda\envs\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
trafic_data.당사자종별_2당_대분류[trafic_data.당사자종별_2당_대분류=='0']='없음'

C:\Users\user\AppData\Local\conda\conda\envs\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
trafic_data[(trafic_data.당사자종별_2당_대분류=='0') | (trafic_data.당사자종별_2당=='0')]

Empty DataFrame
Columns: [발생년, 발생년월일시, 발생분, 주야, 요일, 사망자수, 사상자수, 중상자수, 경상자수, 부상신고자수, 발생지시도, 발생지시군구, 사고유형_대분류, 사고유형_중분류, 사고유형, 법규위반_대분류, 법규위반, 도로형태_대분류, 도로형태, 당사자종별_1당_대분류, 당사자종별_1당, 당사자종별_2당_대분류, 당사자종별_2당, 발생위치X_UTMK, 발생위치Y_UTMK, 경도, 위도]
Index: []

[0 rows x 27 columns]

In [22]:
trafic_data.당사자종별_2당[trafic_data.당사자종별_2당.isna()]='없음'
# Na 값을 '없음'으로 대체

C:\Users\user\AppData\Local\conda\conda\envs\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
trafic_data.당사자종별_2당_대분류[trafic_data.당사자종별_2당_대분류.isna()]='없음'

C:\Users\user\AppData\Local\conda\conda\envs\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
trafic_data[trafic_data.당사자종별_2당_대분류.isna() | trafic_data.당사자종별_2당.isna()]

Empty DataFrame
Columns: [발생년, 발생년월일시, 발생분, 주야, 요일, 사망자수, 사상자수, 중상자수, 경상자수, 부상신고자수, 발생지시도, 발생지시군구, 사고유형_대분류, 사고유형_중분류, 사고유형, 법규위반_대분류, 법규위반, 도로형태_대분류, 도로형태, 당사자종별_1당_대분류, 당사자종별_1당, 당사자종별_2당_대분류, 당사자종별_2당, 발생위치X_UTMK, 발생위치Y_UTMK, 경도, 위도]
Index: []

[0 rows x 27 columns]

In [25]:
columns_idx=trafic_data.columns
# 포문을 돌리기 위해 열들을 시리즈 형태로 만들어서 넣어줌

In [26]:
for i in range(len(columns_idx)):
    if trafic_data.loc[:,columns_idx[i]].dtype=='O':
        le.fit(trafic_data.loc[:,columns_idx[i]])
        new_dn = pd.Series(le.transform(trafic_data.loc[:,columns_idx[i]]))
        trafic_data.loc[:,columns_idx[i]] = new_dn

#데이터 타입이 오브젝트 형태인 애들을 라벨인코더로 형변환을 해줌

In [27]:
trafic_data

,발생년,발생년월일시,발생분,주야,요일,사망자수,사상자수,중상자수,경상자수,부상신고자수,...,도로형태_대분류,도로형태,당사자종별_1당_대분류,당사자종별_1당,당사자종별_2당_대분류,당사자종별_2당,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2017,2017063023,14,0,0,1,1,0,0,0,...,5,8,5,9,2,4,967633,1937456,127.134130,37.435704
1,2017,2017063021,45,0,0,1,4,2,1,0,...,5,8,5,9,5,9,966456,1696405,127.131220,35.262534
2,2017,2017063021,50,0,0,1,1,0,0,0,...,5,8,5,9,2,4,900057,1865697,126.379922,36.784142
3,2017,2017063019,10,0,0,1,1,0,0,0,...,2,4,5,9,10,14,1095230,1764891,128.554945,35.875973
4,2017,2017063017,2,1,0,1,2,1,0,0,...,5,2,8,12,13,18,947576,1946355,126.906786,37.514993
5,2017,2017063010,59,1,0,1,1,0,0,0,...,5,8,8,12,5,9,939085,1681915,126.831392,35.130593
6,2017,2017063009,45,1,0,1,3,2,0,0,...,2,3,5,9,13,18,1086800,1742412,128.459134,35.674109
7,2017,2017063008,20,1,0,1,1,0,0,0,...,5,8,11,16,2,4,964452,1924850,127.098780,37.321961
8,2017,2017063006,30,1,0,1,1,0,0,0,...,5,8,11,16,10,14,917238,1855415,126.573561,36.693121
9,2017,2017063004,0,0,0,1,2,0,1,0,...,5,8,11,16,5,9,1024580,1665614,127.769316,34.985147
10,2017,2017063004,35,0,0,1,1,0,0,0,...,5,1,5,9,7,11,939234,1688087,126.832579,35.185987
11,2017,2017063002,30,0,0,1,1,0,0,0,...,5,8,5,9,2,4,1139565,1680208,129.031312,35.107404
12,2017,2017063000,50,0,0,1,1,0,0,0,...,2,4,5,9,7,11,1013426,1889385,127.650900,37.002858
13,2017,2017062922,7,0,1,1,1,0,0,0,...,5,8,5,9,7,11,955923,1911190,127.003327,37.198469
14,2017,2017062918,55,0,1,1,1,0,0,0,...,5,8,5,9,2,4,1038959,1930411,127.940011,37.371949
15,2017,2017062914,40,1,1,1,1,0,0,0,...,5,8,9,13,7,11,930200,1964377,126.708461,37.676268
16,2017,2017062913,20,1,1,1,1,0,0,0,...,5,8,10,15,10,14,959733,1797362,127.052247,36.172524
17,2017,2017062913,45,1,1,1,1,0,0,0,...,5,8,11,16,2,4,948035,1685052,126.929464,35.159524
18,2017,2017062908,30,1,1,1,3,2,0,0,...,5,8,5,9,2,4,1070708,1682810,128.276166,35.138022
19,2017,2017062908,37,1,1,1,8,0,7,0,...,2,5,6,10,2,4,944009,1922831,126.868208,37.302756
20,2017,2017062904,35,0,1,1,2,1,0,0,...,5,8,5,9,7,11,901907,1647454,126.427447,34.816979
21,2017,2017062903,10,0,1,1,1,0,0,0,...,5,8,5,9,2,4,941444,1949265,126.837825,37.541027
22,2017,2017062903,10,0,1,1,2,1,0,0,...,5,8,11,16,13,18,944372,1931079,126.871685,37.377120
23,2017,2017062902,25,0,1,1,1,0,0,0,...,5,8,11,16,2,4,991765,1922499,127.407079,37.301413
24,2017,2017062901,0,0,1,1,1,0,0,0,...,3,6,5,9,7,11,1134536,1685054,128.977017,35.151739
25,2017,2017062901,54,0,1,1,1,0,0,0,...,5,8,5,9,2,4,939903,1956444,126.819139,37.605457
26,2017,2017062900,20,0,1,1,1,0,0,0,...,5,8,7,11,7,11,964892,1949694,127.102564,37.545911
27,2017,2017062823,20,0,2,1,2,0,1,0,...,5,8,8,12,10,14,949058,1953280,126.923074,37.577492
28,2017,2017062822,10,0,2,1,1,0,0,0,...,2,3,5,9,7,11,1001018,1944482,127.511517,37.499600
29,2017,2017062821,18,0,2,1,1,0,0,0,...,5,8,7,11,5,9,977864,1960836,127.249073,37.646741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25007,2012,2012010305,55,0,6,1,1,0,0,0,...,5,8,5,2,7,11,901721,1886225,126.395907,36.969334
25008,2012,2012010302,15,0,6,1,1,0,0,0,...,5,8,5,14,7,11,894123,1846409,126.316100,36.609656
25009,2012,2012010222,25,0,3,1,1,0,0,0,...,5,8,5,14,2,4,958814,1917339,127.035563,37.254027
25010,2012,2012010220,15,0,3,1,1,0,0,0,...,5,14,5,8,2,4,935527,1942998,126.770747,37.483974
25011,2012,2012010218,20,0,3,1,1,0,0,0,...,2,4,6,8,2,4,890370,1636652,126.302716,34.718392
25012,2012,2012010218,49,0,3,1,1,0,0,0,...,5,8,5,14,2,4,928584,1936289,126.692871,37.422996
25013,2012,2012010215,40,1,3,1,2,1,0,0,...,5,8,5,2,13,1,934676,1977018,126.758079,37.790526
25014,2012,2012010213,35,1,3,1,1,0,0,0,...,5,8,11,14,7,11,942622,1938164,126.851244,37.441025
25015,2012,2012010210,0,1,3,2,2,0,0,0,...,5,8,5,14,7,11,1079153,1708214,128.371305,35.366436
25016,2012,2012010207,0,1,3,1,1,0,0,0,...,5,15,6,4,2,4,933931,1964179,126.750785,37.674760
25017,2012,2012010206,25,1,3,1,1,0,0,0,...,2,4,6,4,2,4,950246,1910780,126.939387,37.194488
25018,2012,2012010205,30,0,3,1,2,0,1,0,...,5,8,5,4,5,3,971517,1946420,127.177687,37.516629
25019,2012,2012010120,15,0,4,2,12,9,1,0,...,5,8,5,8,5,8,969050,1980853,127.148309,37.826902
25020,2012,2012010118,20,0,4,1,3,0,2,0,...,2,4,5,14,5,8,952865,1771664,126.977414,35.940534
25021,2012,2012010118,13,0,4,1,1,0,0,0,...,2,3,5,8,2,4,1163799,1728696,129.306894,35.540719
25022,2012,2012010118,15,0,4,1,1,0,0,0,...,5,8,6,4,2,4,947288,1946929,126.903486,37.520151
25023,2012,2012010116,0,1,4,1,1,0,0,0,...,5,8,5,8,7,11,1036835,1827829,127.911031,36.447328
25024,2012,2012010113,30,1,4,1,3,1,1,0,...,5,8,11,8,7,11,1118121,1964154,128.839313,37.669274
25025,2012,2012010110,25,1,4,2,2,0,0,0,...,2,3,6,4,5,8,1059321,1748774,128.155984,35.733503
25026,2012,2012010108,50,1,4,1,1,0,0,0,...,5,8,5,8,7,11,940016,1832833,126.830281,36.491268
25027,2012,2012010105,19,0,4,1,1,0,0,0,...,5,8,5,14,12,3,1133938,1691707,128.968695,35.212131
25028,2012,2012010104,35,0,4,1,1,0,0,0,...,5,14,5,8,2,4,938839,1912203,126.810748,37.206636
25029,2012,2012010104,0,0,4,1,2,1,0,0,...,5,8,5,14,7,11,911940,1860868,126.504460,36.750581
25030,2012,2012010104,0,0,4,1,1,0,0,0,...,5,8,7,11,7,11,1114077,1762013,128.763000,35.847388
25031,2012,2012010103,25,0,4,1,1,0,0,0,...,4,7,5,14,2,4,941250,1684499,126.833896,35.153312
25032,2012,2012010103,30,0,4,1,1,0,0,0,...,5,8,5,14,7,11,1070286,1834622,128.284894,36.506694
25033,2012,2012010102,10,0,4,1,4,0,3,0,...,2,3,6,14,5,16,955169,1952212,126.992345,37.568184
25034,2012,2012010102,50,0,4,1,1,0,0,0,...,2,4,5,14,2,4,958876,1942819,127.034847,37.483695
25035,2012,2012010101,5,0,4,1,6,5,0,0,...,5,8,5,14,5,8,946530,1737729,126.909405,35.634077
25036,2012,2012010101,50,0,4,1,1,0,0,0,...,5,8,5,14,2,4,949859,1957198,126.931877,37.612850

In [28]:
trafic_data['월']=trafic_data['발생년월일시'].astype(str).str.slice(4,6)
trafic_data['일']=trafic_data['발생년월일시'].astype(str).str.slice(6,8)
trafic_data['시']=trafic_data['발생년월일시'].astype(str).str.slice(8,10)
trafic_data=trafic_data[['발생년', '월','일','시', '발생분', '주야', '요일', '사망자수', '사상자수', '중상자수', '경상자수',
       '부상신고자수', '발생지시도', '발생지시군구', '사고유형_대분류', '사고유형_중분류', '사고유형', '법규위반_대분류',
       '법규위반', '도로형태_대분류', '도로형태', '당사자종별_1당_대분류', '당사자종별_1당', '당사자종별_2당_대분류',
       '당사자종별_2당', '발생위치X_UTMK', '발생위치Y_UTMK', '경도', '위도', ]]

#발생년월일시를 월,일,시 로 나눠주고, 새로운 열로 추가함
#열을 원하는 배열로 바꿈

In [29]:
trafic_data.head()

,발생년,월,일,시,발생분,주야,요일,사망자수,사상자수,중상자수,...,도로형태_대분류,도로형태,당사자종별_1당_대분류,당사자종별_1당,당사자종별_2당_대분류,당사자종별_2당,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2017,06,30,23,14,0,0,1,1,0,...,5,8,5,9,2,4,967633,1937456,127.134130,37.435704
1,2017,06,30,21,45,0,0,1,4,2,...,5,8,5,9,5,9,966456,1696405,127.131220,35.262534
2,2017,06,30,21,50,0,0,1,1,0,...,5,8,5,9,2,4,900057,1865697,126.379922,36.784142
3,2017,06,30,19,10,0,0,1,1,0,...,2,4,5,9,10,14,1095230,1764891,128.554945,35.875973
4,2017,06,30,17,2,1,0,1,2,1,...,5,2,8,12,13,18,947576,1946355,126.906786,37.514993

In [30]:
trafic_data.to_csv("trafic_data01.csv", encoding="utf-8",index=False)

#csv 파일 저장