In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor

In [2]:
train = pd.read_csv("Train_Death_Info.csv",encoding = 'CP949')

In [3]:
train.head(10)

,발생년,발생년월일시,발생분,주야,요일,사망자수,사상자수,중상자수,경상자수,부상신고자수,...,도로형태_대분류,도로형태,당사자종별_1당_대분류,당사자종별_1당,당사자종별_2당_대분류,당사자종별_2당,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2017,2017063023,14,야간,금,1,1,0,0,0,...,단일로,기타단일로,승용차,승용차,보행자,보행자,967633,1937456,127.134130,37.435704
1,2017,2017063021,45,야간,금,1,4,2,1,0,...,단일로,기타단일로,승용차,승용차,승용차,승용차,966456,1696405,127.131220,35.262534
2,2017,2017063021,50,야간,금,1,1,0,0,0,...,단일로,기타단일로,승용차,승용차,보행자,보행자,900057,1865697,126.379922,36.784142
3,2017,2017063019,10,야간,금,1,1,0,0,0,...,교차로,교차로부근,승용차,승용차,이륜차,이륜차,1095230,1764891,128.554945,35.875973
4,2017,2017063017,2,주간,금,1,2,1,0,0,...,단일로,교량위,이륜차,이륜차,화물차,화물차,947576,1946355,126.906786,37.514993
5,2017,2017063010,59,주간,금,1,1,0,0,0,...,단일로,기타단일로,이륜차,이륜차,승용차,승용차,939085,1681915,126.831392,35.130593
6,2017,2017063009,45,주간,금,1,3,2,0,0,...,교차로,교차로내,승용차,승용차,화물차,화물차,1086800,1742412,128.459134,35.674109
7,2017,2017063008,20,주간,금,1,1,0,0,0,...,단일로,기타단일로,화물차,화물차,보행자,보행자,964452,1924850,127.098780,37.321961
8,2017,2017063006,30,주간,금,1,1,0,0,0,...,단일로,기타단일로,화물차,화물차,이륜차,이륜차,917238,1855415,126.573561,36.693121
9,2017,2017063004,0,야간,금,1,2,0,1,0,...,단일로,기타단일로,화물차,화물차,승용차,승용차,1024580,1665614,127.769316,34.985147

In [4]:
train.columns

Index(['발생년', '발생년월일시', '발생분', '주야', '요일', '사망자수', '사상자수', '중상자수', '경상자수',
       '부상신고자수', '발생지시도', '발생지시군구', '사고유형_대분류', '사고유형_중분류', '사고유형', '법규위반_대분류',
       '법규위반', '도로형태_대분류', '도로형태', '당사자종별_1당_대분류', '당사자종별_1당', '당사자종별_2당_대분류',
       '당사자종별_2당', '발생위치X_UTMK', '발생위치Y_UTMK', '경도', '위도'],
      dtype='object')

In [6]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [9]:
train.당사자종별_2당[train.당사자종별_2당=='0']='없음'
train.당사자종별_2당_대분류[train.당사자종별_2당_대분류=='0']='없음'
train.당사자종별_2당[train.당사자종별_2당.isna()]='없음'
train.당사자종별_2당_대분류[train.당사자종별_2당_대분류.isna()]='없음'

C:\Users\user\AppData\Local\conda\conda\envs\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\user\AppData\Local\conda\conda\envs\venv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\user\AppData\Local\conda\conda\envs\venv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\user\AppData\Local\conda\conda\envs\venv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [10]:
col_idx = train.columns

In [11]:
for i in range(len(col_idx)):
    if train.loc[:,col_idx[i]].dtype=='O':
        le.fit(train.loc[:,col_idx[i]])
        new_dn = pd.Series(le.transform(train.loc[:,col_idx[i]]))
        train.loc[:,col_idx[i]] = new_dn

In [12]:
train.head()

,발생년,발생년월일시,발생분,주야,요일,사망자수,사상자수,중상자수,경상자수,부상신고자수,...,도로형태_대분류,도로형태,당사자종별_1당_대분류,당사자종별_1당,당사자종별_2당_대분류,당사자종별_2당,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2017,2017063023,14,0,0,1,1,0,0,0,...,5,8,5,9,2,4,967633,1937456,127.134130,37.435704
1,2017,2017063021,45,0,0,1,4,2,1,0,...,5,8,5,9,5,9,966456,1696405,127.131220,35.262534
2,2017,2017063021,50,0,0,1,1,0,0,0,...,5,8,5,9,2,4,900057,1865697,126.379922,36.784142
3,2017,2017063019,10,0,0,1,1,0,0,0,...,2,4,5,9,10,14,1095230,1764891,128.554945,35.875973
4,2017,2017063017,2,1,0,1,2,1,0,0,...,5,2,8,12,13,18,947576,1946355,126.906786,37.514993

In [14]:
train['월']=train['발생년월일시'].astype(str).str.slice(4,6)
train['일']=train['발생년월일시'].astype(str).str.slice(6,8)
train['시']=train['발생년월일시'].astype(str).str.slice(8,10)
train=train[['발생년', '월','일','시', '발생분', '주야', '요일', '사망자수', '사상자수', '중상자수', '경상자수',
       '부상신고자수', '발생지시도', '발생지시군구', '사고유형_대분류', '사고유형_중분류', '사고유형', '법규위반_대분류',
       '법규위반', '도로형태_대분류', '도로형태', '당사자종별_1당_대분류', '당사자종별_1당', '당사자종별_2당_대분류',
       '당사자종별_2당', '발생위치X_UTMK', '발생위치Y_UTMK', '경도', '위도', ]]

In [29]:
train.head(10)

,발생년,월,일,시,발생분,주야,요일,사망자수,사상자수,중상자수,...,도로형태_대분류,도로형태,당사자종별_1당_대분류,당사자종별_1당,당사자종별_2당_대분류,당사자종별_2당,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2017,06,30,23,14,0,0,1,1,0,...,5,8,5,9,2,4,967633,1937456,127.134130,37.435704
1,2017,06,30,21,45,0,0,1,4,2,...,5,8,5,9,5,9,966456,1696405,127.131220,35.262534
2,2017,06,30,21,50,0,0,1,1,0,...,5,8,5,9,2,4,900057,1865697,126.379922,36.784142
3,2017,06,30,19,10,0,0,1,1,0,...,2,4,5,9,10,14,1095230,1764891,128.554945,35.875973
4,2017,06,30,17,2,1,0,1,2,1,...,5,2,8,12,13,18,947576,1946355,126.906786,37.514993
5,2017,06,30,10,59,1,0,1,1,0,...,5,8,8,12,5,9,939085,1681915,126.831392,35.130593
6,2017,06,30,09,45,1,0,1,3,2,...,2,3,5,9,13,18,1086800,1742412,128.459134,35.674109
7,2017,06,30,08,20,1,0,1,1,0,...,5,8,11,16,2,4,964452,1924850,127.098780,37.321961
8,2017,06,30,06,30,1,0,1,1,0,...,5,8,11,16,10,14,917238,1855415,126.573561,36.693121
9,2017,06,30,04,0,0,0,1,2,0,...,5,8,11,16,5,9,1024580,1665614,127.769316,34.985147

In [78]:
from sklearn.model_selection import train_test_split
x1, x2, y1, y2 = train_test_split(train, train.사망자수, test_size=0.2, random_state=42)

In [68]:
x1.shape
print(x1.shape)
print(x2.shape)
print(y1.shape)
print(y2.shape)

(20029, 29)
(5008, 29)
(20029,)
(5008,)

In [79]:
train_model = DecisionTreeRegressor()

In [36]:
train.columns

Index(['발생년', '월', '일', '시', '발생분', '주야', '요일', '사망자수', '사상자수', '중상자수', '경상자수',
       '부상신고자수', '발생지시도', '발생지시군구', '사고유형_대분류', '사고유형_중분류', '사고유형', '법규위반_대분류',
       '법규위반', '도로형태_대분류', '도로형태', '당사자종별_1당_대분류', '당사자종별_1당', '당사자종별_2당_대분류',
       '당사자종별_2당', '발생위치X_UTMK', '발생위치Y_UTMK', '경도', '위도'],
      dtype='object')

In [69]:
use_col_name = ['시','발생분','주야','요일','발생지시도','발생지시군구','당사자종별_1당_대분류','당사자종별_2당_대분류','경도','위도']

In [80]:
X1 = x1[use_col_name]

In [81]:
train_model.fit(X1,y1)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [82]:
X2 = x2[use_col_name]

In [47]:
print("Making predictions for the following 10 :")
print(X2)
print("The predictions are")
print(train_model.predict(X2))

Making predictions for the following 10 :
        시  발생분  주야  요일  발생지시도  발생지시군구  당사자종별_1당_대분류  당사자종별_2당_대분류          경도  \
22192  20    8   0   5      3     180             6             2  129.066586
20239  22   51   0   3      1     142             5             2  127.211534
20989  20   25   0   1      1     205             5             7  126.873977
18177  14   38   1   4      4      24             5             2  126.817903
14464  23   50   0   0      4      80            11             2  126.877396
22407  22    0   0   1      1      23             8             2  126.867420
16902  05   35   0   0      8       1             5             2  127.051573
14393  10   25   1   1     15      77            11            10  126.883271
24110  12   50   1   2     15      20            11            13  127.234068
24155  22   46   0   5      8      50             5             2  127.079778

              위도
22192  36.436322
20239  37.233214
20989  37.167434
18177  35.177875
14464  35.210747
22407  37.473354
16902  37.512513
14393  36.265083
24110  36.400644
24155  37.668297
The predictions are
[1. 1. 1. ... 1. 1. 1.]

In [84]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(y2,train_model.predict(X2)))

0.08586261980830671

In [91]:
len(y2)

5008

In [97]:
from sklearn.model_selection import cross_val_score
a = cross_val_score(train_model,X2, y2,cv=len(y2))
sum(a)

4709.0

In [98]:
from sklearn.metrics import accuracy_score
y_pred = train_model.predict(X2)
accuracy_score(y2, y_pred)

0.9321086261980831

In [95]:
cnt_0 = y2-train_model.predict(X2)
len(cnt_0[cnt_0==0])/len(cnt_0)*100

93.21086261980831

In [72]:
'''from sklearn.tree import DecisionTreeClassifier
train_score = DecisionTreeClassifier()
train_score.fit(X1,y1)'''

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [77]:
'''print("테스트 셋 정확도 : {:.3f}".format(train_score.score(X2,y2)))'''

테스트 셋 정확도 : 1.000

In [143]:
x1, x2, y1, y2 = train_test_split(train, train.요일, test_size=0.2, random_state=42)

In [144]:
use_col_name = ['시','발생분','주야','발생지시도','발생지시군구','당사자종별_1당_대분류','당사자종별_2당_대분류','경도','위도']

In [145]:
X1 = x1[use_col_name]

In [157]:
train_model = DecisionTreeClassifier(criterion = 'entropy', max_depth = 7,random_state=42)

In [158]:
train_model.fit(X1, y1)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=7,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best')

In [148]:
X2 = x2[use_col_name]

In [63]:
print("Making predictions for the following 10 :")
print(X2.head(10))
print("The predictions are")
print(train_model.predict(X2))

Making predictions for the following 10 :
        시  발생분  주야  발생지시도  발생지시군구  당사자종별_1당_대분류  당사자종별_2당_대분류          경도  \
22192  20    8   0      3     180             6             2  129.066586
20239  22   51   0      1     142             5             2  127.211534
20989  20   25   0      1     205             5             7  126.873977
18177  14   38   1      4      24             5             2  126.817903
14464  23   50   0      4      80            11             2  126.877396
22407  22    0   0      1      23             8             2  126.867420
16902  05   35   0      8       1             5             2  127.051573
14393  10   25   1     15      77            11            10  126.883271
24110  12   50   1     15      20            11            13  127.234068
24155  22   46   0      8      50             5             2  127.079778

              위도
22192  36.436322
20239  37.233214
20989  37.167434
18177  35.177875
14464  35.210747
22407  37.473354
16902  37.512513
14393  36.265083
24110  36.400644
24155  37.668297
The predictions are
[5. 4. 1. ... 3. 4. 2.]

In [156]:
y_pred = train_model.predict(X2)
accuracy_score(y2, y_pred)

0.1459664536741214

In [159]:
train_model.score(X2,y2)

0.1505591054313099